body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.createTaskDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .formCreateDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .displayTaskDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start
} */

.lineTask{
  display: flex;
  align-items: center;
}